@import 'fonts.scss';
@import 'colors.scss';

.font-body {
    font-family: 'Rubik', serif;
    font-size: 1rem;
}

.mr-1 {
    margin-right: 1rem;
}

// Typography

.lowercase {
    text-transform: lowercase;
}