// Colors - text
.text-primary {
  color: hsl(238, 40%, 52%);
}

.text-primary-dark {
  color: hsl(212, 24%, 26%);
}

.text-primary-moderate {
  color: hsl(211, 10%, 45%);
}

.text-primary-light {
  color: hsl(239, 57%, 85%);
}

.text-secondary {
  color: hsl(358, 79%, 66%);
}

.text-secondary-light {
  color: hsl(357, 100%, 86%);
}

.text-color-light {
  color: hsl(223, 19%, 93%);
}

.text-color-very-light {
  color: hsl(228, 33%, 97%);
}

.text-color-white {
  color: white;
}

// Colors - background

.bg-primary {
  background-color: hsl(238, 40%, 52%);
}

.bg-primary-dark {
  background-color: hsl(212, 24%, 26%);
}

.bg-primary-moderate {
  background-color: hsl(211, 10%, 45%);
}

.bg-primary-light {
  background-color: hsl(239, 57%, 85%);
}

.bg-secondary {
  background-color: hsl(358, 79%, 66%);
}

.bg-secondary-light {
  background-color: hsl(357, 100%, 86%);
}

.bg-color-light {
  background-color: hsl(223, 19%, 93%);
}

.bg-color-very-light {
  background-color: hsl(228, 33%, 97%);
}

.bg-color-white {
  background-color: white;
}