// Colors
$primary: hsl(238, 40%, 52%);
$primary-dark: hsl(212, 24%, 26%);
$primary-moderate: hsl(211, 10%, 45%);
$primary-light: hsl(239, 57%, 85%);
$secondary: hsl(358, 79%, 66%);
$secondary-light: hsl(357, 100%, 86%);
$color-light: hsl(223, 19%, 93%);
$color-very-light: hsl(228, 33%, 97%);
$color-white: white;