@font-face {
    font-family: 'Rubik';
    font-weight: 700;
    font-style: normal;
    src: local('Rubik'), url(/public/assets/fonts/Rubik-Bold.ttf) format('truetype');
  }
@font-face {
    font-family: 'Rubik';
    font-weight: 500;
    font-style: normal;
    src: local('Rubik'), url(/public/assets/fonts/Rubik-Medium.ttf) format('truetype');
  }
@font-face {
    font-family: 'Rubik';
    font-weight: 400;
    font-style: normal;
    src: local('Rubik'), url(/public/assets/fonts/Rubik-Regular.ttf) format('truetype');
  }